{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>

<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="text-center">
        <h1 class="text-[144px] font-bold text-red-500">404</h1>
        <p class="text-2xl text-gray-700 mt-4">Oops! This is a Server error.</p>
        <p class="mt-2 text-gray-500">We are working on fixing it.</p>
        <a href="{% url 'store:home' %}"
            class="mt-6 inline-block px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition">
            Go Back Home
        </a>
    </div>
</body>

</html>