{% extends 'base.html' %}
{% load static %}
{% block title %}Categories{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8 max-w-7xl lg:col-span-3 xl:col-span-4">
    <h1 class="text-4xl font-semibold text-center mb-6">Categories</h1>

    <!-- Responsive Banner -->
    <div class="w-full max-w-7xl">
        <img loading="lazy" class="h-48 w-full object-cover object-center rounded-lg"
            src="{% static 'assets/category-image.jpg' %}" alt="Banner">
    </div>

    <!-- Categories Grid -->
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6 w-full max-w-7xl mt-8">
        {% for category in categories %}
        <a href="{{ category.get_absolute_url }}"
            class="group block bg-white text-white rounded-lg overflow-hidden shadow-lg shadow-black/20 hover:scale-95 transition-transform">
            <img loading="lazy" class="w-full h-40 object-cover" src="{{ category.cover.url }}"
                alt="{{ category.name }}">
            <div class="text-center py-3 bg-neutral-800">
                <h2 class="text-xl font-medium">{{ category.name }}</h2>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}