{% extends '../base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock title %}
{% block content %}
<div class="text-5xl font-megrim mb-8 lg:text-center">Explore Imagination</div>
<div class="">
    <video class="w-full rounded-lg h-[50vh] lg:h-[70vh] xl:h-[80vh] object-cover" autoplay loop muted
        src="{% static 'assets/iphone-ad.webm'%}" type="video/webm"></video>
</div>
<h1 class="text-center text-2xl lg:text-3xl xl:text-5xl uppercase font-megrim font-black">Get the Latest
    Technologies</h1>
<div>
    <img class="h-[50vh] w-full rounded-lg object-cover lg:hidden" src="{%static 'assets/samsung-mobile.jpg'%}">
    <img class="h-[70vh] w-full rounded-lg object-cover hidden lg:block" src="{%static 'assets/samsung-desktop.jpg'%}">
</div>
<div>
    <img class="h-[50vh] w-full rounded-lg object-cover lg:hidden" src="{%static 'assets/mobile-iphone-15.jpg'%}">
    <img class="h-[70vh] w-full rounded-lg object-cover hidden lg:block" src="{%static 'assets/iphone15-banner.jpg'%}">
</div>

<div class="m-8 text-center text-2xl">
    <a class="inline-block px-8 py-2 bg-teal-500 text-white shadow-lg hover:scale-105 hover:bg-teal-600 hover:shadow-black duration-200"
        href="{% url 'store:categories'%}">Go to the Store</a>
</div>
<script src='{% static "js/script.js" %}'></script>
{% endblock content %}