<nav x-data="{ open: false }"
    class="flex items-center justify-between bg-white shadow-md shadow-black/5 py-2 px-8 md:px-8 sticky top-0 z-50">
    <!-- Logo -->
    <header class="block">
        <a href="{% url 'store:home' %}" class="text-3xl font-extralight">
            Chill Monkey Store
        </a>
    </header>

    <!-- Mobile Menu Toggle -->
    <div class="lg:hidden">
        <button @click="open = !open" class="text-white focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <!-- Desktop Navigation -->
    <div class="hidden lg:flex justify-evenly lg:w-1/2 items-center text-sm pr-8 space-x-4">
        <a href="{% url 'store:home' %}"
            class="px-4 py-2 border border-transparent hover:border-white rounded-lg duration-200">Home</a>
        <a href="{% url 'store:explore' %}"
            class="px-4 py-2 border border-transparent hover:border-white rounded-lg duration-200">Explore</a>
        <a href="{% url 'store:categories' %}"
            class="px-4 py-2 border border-transparent hover:border-white rounded-lg duration-200">Categories</a>

        {% if not user.is_authenticated %}
        <a href="{% url 'accounts:sign_in' %}"
            class="px-4 py-2 border border-transparent hover:border-white rounded-lg duration-200">Sign
            in</a>
        <a href="{% url 'accounts:sign_up' %}"
            class="px-4 py-2 border border-transparent hover:border-white rounded-lg duration-200">Sign
            up</a>
        {% else %}
        <a href="{% url 'orders:summary' %}"
            class="px-4 py-2 border border-transparent hover:border-white rounded-lg duration-200  gap-x-2 grid grid-cols-2 items-center"><svg
                xmlns="http://www.w3.org/2000/svg" width="24px" viewBox="0 0 24 24" fill="currentColor">
                <path
                    d="M12.0002 2C15.8662 2 19.0002 5.13401 19.0002 9H20.0742C20.5967 9 21.0311 9.40231 21.0712 9.9233L21.9174 20.9233C21.9597 21.474 21.5477 21.9547 20.997 21.9971L20.9203 22H3.08008C2.52779 22 2.08008 21.5523 2.08008 21L2.08302 20.9233L2.92918 9.9233C2.96925 9.40231 3.4037 9 3.92623 9H5.0002C5.0002 5.13401 8.13421 2 12.0002 2ZM19.1472 11H4.8522L4.1592 20H19.8402L19.1472 11ZM14.0002 13V15H10.0002V13H14.0002ZM12.0002 4C9.31145 4 7.11838 6.12231 7.00482 8.78311L7.0002 9H17.0002C17.0002 6.31124 14.8779 4.11818 12.2171 4.00462L12.0002 4Z">
                </path>
            </svg>Bag</a>
        <a href="{% url 'orders:view_orders' %}">My Orders</a>
        <a href="{% url 'accounts:logout' %}"
            class="ml-8 px-4 py-2 border border-transparent text-white hover:bg-red-800 bg-red-600 rounded-lg duration-200">Logout</a>
        {% endif %}
    </div>

    <!-- Mobile Navigation -->
    <div x-show="open" @click.away="open = false" class="absolute top-12 left-0 w-full bg-neutral-800 lg:hidden">
        <a href="{% url 'store:home' %}"
            class="block px-4 py-2 text-center hover:underline hover:text-violet-400">Home</a>
        <a href="{% url 'store:explore' %}"
            class="block px-4 py-2 text-center hover:underline hover:text-violet-400">Explore</a>
        <a href="{% url 'store:categories' %}"
            class="block px-4 py-2 text-center hover:underline hover:text-violet-400">Categories</a>

        {% if not user.is_authenticated %}
        <a href="{% url 'accounts:sign_in' %}"
            class="block px-4 py-2 text-center hover:underline hover:text-violet-400">Sign in</a>
        <a href="{% url 'accounts:sign_up' %}"
            class="block px-4 py-2 text-center hover:underline hover:text-violet-400">Sign up</a>
        {% else %}
        <a href="{% url 'orders:summary' %}"
            class="block px-4 py-2 text-center hover:underline hover:text-violet-400">Bag</a>
        <a href="{% url 'accounts:logout' %}"
            class="block px-4 py-2 text-center hover:underline hover:text-violet-400">Logout</a>
        {% endif %}
    </div>
</nav>